.row {
    display: flex;
    justify-content: space-between;
}

.calcapp {
    background: #283637;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }


 .layout{
      width: 400px;
}